@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  background-color: darkgrey;
}

.form-input {
  outline: none;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 6px;
}

.btn {
  padding: 4px 24px;
  margin-right: 8px;
  outline: none;
  border-radius: 9999px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-filled {
  background-color: black;
  color: white;
}

.btn-inverse {
  background-color: white;
  color: black;
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
