@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  background-color: #eee;
}

.form-input {
  outline: none;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 6px;
}

.btn {
  padding: 4px 24px;
  margin-right: 8px;
  outline: none;
  border-radius: 9999px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-filled {
  background-color: black;
  color: white;
}

.btn-inverse {
  background-color: white;
  color: black;
  border: 1px solid #666;
}

.btn-danger {
  background-color: #dc2626;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000;
}

.gradient-border {
  --border-width: 0px;
  position: relative;
  border-radius: 8px;
  color: white;
  text-shadow: 0.5px 0.5px 1.5px #000;
}

.gradient-border::after {
  position: absolute;
  content: "";
  opacity: 0.8;
  top: var(--border-width);
  left: var(--border-width);
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    60deg,
    hsl(224, 90%, 66%),
    hsl(269, 90%, 66%),
    hsl(314, 90%, 66%),
    hsl(359, 90%, 66%),
    hsl(44, 90%, 66%),
    hsl(89, 90%, 66%),
    hsl(134, 90%, 66%)
  );
  background-size: 250% 250%;
  background-position: 0 50%;
  border-radius: 8px;
  animation: moveGradient 6s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@media (max-width: 640px) {
  .btn {
    padding: 2px 16px;
    margin-right: 8px;
    outline: none;
    border-radius: 9999px;
  }
}
